{% extends 'base.html.twig' %}

{% block title %}Category
{% endblock %}

{% block body %}
	<div>
		<h1>{{controller_name}}
		</h1>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Name</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				{# {% for user in users %}
													<tr class="table">
														<td>{{user.id}}</td>
														<td>
															<img src="{{user.avatar}}" width="60px" class="rounded">
														</td>
														<td>{{user.fullname}}</td>
														<td>{{user.email}}</td>
														<td>{{  user.articles | length}}</td>
														<td>
															<a href="{{ path('account_profil' , {'slug': user.slug } ) }}" class="btn btn-primary">
																<i class="fas fa-eye"></i>
															</a>
														</td>
														<td>
															<form class="d-inline" action="{{ path('account_delete' , {'slug': user.slug } ) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cette utilisateur ?');">
																<button class="btn btn-danger">
																	<i class="fa fa-trash"></i>
																</button>
															</form>
														</td>
													</tr>
								
												{% endfor %} #}

			</tbody>
		</table>
	</div>

{% endblock %}
